.title-router{
  width: 100%;
  padding: 20px 130px;

  .title__home{
    font-size: 15px;
    font-weight: 500;
    color: #000;
    cursor: pointer;
    
    &:hover{
      color: var(--accent-hover);
    }
  }

  .title__separator{
    font-size: 15px;
    font-weight: 500;
    color: #000;
  }

  .title_router{
    font-size: 15px;
    font-weight: 500;
    color: var(--accent);
    cursor: pointer;

    &:hover{
      color: var(--accent-hover);
    }
  }

  @media screen and (max-width: 767.98px){
    padding: 20px 20px;
  }
}
